*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none; 
  color: inherit;
}


html {
  font-size: 62.5%;
}


body {
  background: white;
}

nav {
  height: 12rem;
  /* background: linear-gradient(to left, #ff1b6b, #45caff); */
  background:white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  
  
}



#cart-link-container {
  position: relative;
  margin-right: 10%;
}


#cart-link-container a{
  top: 3.5rem;
  margin-left: 2rem;
}

nav a {
  position: relative;
  color: black;
  font-size: 2.5rem;
  /* margin: auto 12%;  */
  font-family: 'Alkalami', cursive;
  font-weight: 700;
  white-space: nowrap;
}

#link-to-product {
  position: relative;
  margin: auto 0 auto 0;
 
}

#nb-in-cart {
  position: absolute;
  font-size: 2rem;
  bottom: 5rem;
  left: 12rem;
  border: 1px solid black;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  width: 2.8rem;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  margin: 3rem auto 0 auto;
  color: black;
  font-family: 'Alkalami', cursive;
  margin-bottom: 3rem;
}

.jumbotron img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: 0 30%;
}


footer {
  height: 10vh;
  width: 100%;
  background: white;
  border-top: 1px solid black;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 2.3rem;
  font-style: italic;
}


/*-----------------Cart page -------------*/

.cart-title {
  font-size: 4rem;
  text-align: center;
  font-family: 'Alkalami', cursive;

}

.cart-and-form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#cart-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 20px;
  height: auto;
  margin-left: 2rem;
}

.body-whole-card {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  flex-direction: column;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 2rem;
  background: white;
}

.image-side {
  width: auto;
  height: 15rem;
  border-radius: 10px;
  border-radius: 5px 0 0 5px;
}

.cart-img-element {
  height: 100%;
  width: 100%;
  border-radius: 5px 0 0 5px;
  padding-top: 0.2rem;
}
.card-body-right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card-body-right .cart-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body-right p {
  font-size: 1.2rem;
  line-height: 2rem;
}




#total-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 2rem;
}

.cart-nb-and-remove {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  border: 1px solid black;
}

.cart-nb-and-remove p {
  font-size: 1.3rem;
  position: relative;
  font-weight: 600;
  top: 0.3rem;
  
}

.cart-nb-and-remove p span {
  background-color: black;
  color: whitesmoke;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 1rem;
}



.clear-whole-cart-btn {
  box-shadow: 1px 0px 0px 4px #423030;
	background-color: black ;
	border-radius: 2px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.6rem;
	padding: 0.8rem 0.6rem;
	text-decoration:none;
	text-shadow:0px 1px 2px #283966;
  margin: 0 0.5rem;
}

.clear-whole-cart-btn:hover {
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.clear-whole-cart-btn:active {
	position:relative;
	top:1px;
}

.text-total-articles {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}



/* Form cart section */


#form-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  bottom: 3rem;
}

.contact-box-form {
  height: 100%;
  width: 100%;
  margin: 3rem 4rem 0 2rem;
  border-radius: 5px;
  background: white;
  justify-content: space-evenly;
}

.contact-title-form {

  font-size: 2rem;
  padding-top: 1.2rem;
}

fieldset {
  width: 100%;
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

fieldset legend {
  
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
  color: black;
  white-space: nowrap;
}

.contact-email-inp, .contact-adress-inp, .contact-city-inp  {
  display: block;
  margin: 0 auto;
  background: #f1f1f1;
  width: 80%;
  border: 0;
  padding: 0.7rem;
  box-sizing: border-box;
  border-radius: 3px;
}

.contact-email-inp, .contact-name-input, .contact-adress-inp, .contact-postal-code-inp
, .contact-city-inp {
  font-size: 1.3rem;
}


.contact-label-email, .contact-label-adress, .contact-label-postal-code, .contact-label-city {
color:  black;
display: block;
margin: 0 auto;
width: 80%;
position: relative;
top: 1.5rem;
font-size: 1.3rem;
white-space: nowrap;

}


.contact-label-postal-code, .contact-label-city, .contact-label-email, .contact-label-adress {
  top: 0;
  margin-top: .8rem;
}

.contact-container-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
  flex-wrap: wrap;
}

.contact-name-input {
margin: .5rem auto;
outline: 0;
background: #f1f1f1;
width: 100%;
border: 0;
padding: 0.7rem;
border-radius: 3px;

}

.contact-firstname, .contact-lastname {
width: 90%;
margin: auto;
}

.contact-label-name {
  color: black;
  position: relative;
  top: 0.2rem;
  white-space: nowrap;
  font-size: 1.3rem;
}

#total-price {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 10%;
  color: black;
}

.contact-label-postal-code, .contact-label-city, .contact-label-email, .contact-label-adress {
  position: relative;
  bottom: 2rem;
  display: block;
  
}

.contact-postal-code-inp
, .contact-city-inp {
  display: block;
  color: black;
  margin: auto;
  padding: 0.7rem;
  border-radius: 3px;
  margin: 0 auto;
  
}

.contact-postal-code-inp {
  width: 30%;
  margin-left: 10%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.contact-box-form button {
  width: 30%;
  display: block;
  margin: 4rem auto 2rem auto;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  height: 3rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  background: white;
  border: 1px solid black;
}




@media (max-width: 800px) {

  #cart-container {
    text-align: center;
    margin: auto;
    width: 90%;

  }


  .body-whole-card {
    display: flex;
    width: 100%;
    margin: 2rem auto;
  }

  #cart-link-container {
    margin-top: 2.3rem;
    left: 0rem;
    margin-left: 3rem;
  }

  .cart-and-form-container {
    flex-direction: column;
    margin: auto;
  }

 
  #form-section {
    margin: 8rem auto 0 auto;
    
  }

  .contact-box-form {
    margin: 2rem auto 0 auto;
  }

  #form-section {
    width: 90%;
  }
    }
    
  

  