*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}


html {
  font-size: 62.5%;
}

  
body {
  background: rgb(255, 255, 255);
}

nav {
  height: 8rem;
  background: linear-gradient(to right, #eaeaea, #ffffff);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

nav a {
  position: relative;
  color: black;
  font-size: 3.5rem;
  /* margin: auto 12%;  */
  font-family: 'Alkalami', cursive;
  font-weight: 700;
  white-space: nowrap;
}

/* Base styles */





#link-to-product,
#cart-link-container a
 {
  font-size: 2.5rem;
}

#cart-link-container {
  margin: auto 2rem;
}

#link-to-product {
  margin: auto 8rem auto 4rem;
}

#nb-in-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  font-size: 2rem;
  left: 6.5rem;
  border: 1px solid black;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  width: 2.5rem;
}

/* Adjust #navigation height and #link-to-product font size responsively */
@media (max-width: 768px) {
  nav {
    background: linear-gradient(to right, #eaeaea, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjusted to space-between to handle logo and menu */
    align-items: center; /* Centers items vertically */
    padding: 0 2rem; /* Add some padding on the sides */
  }

  
  nav a {
    font-size: 1rem; /* Smaller font size on smaller screens */
  }

  /* Hamburger menu styles */
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 2rem 0 auto auto;
  }

  /* Style the navbar when the hamburger menu is clicked */
  .nav-active {
    flex-direction: column;
  }

}
/* Hamburger button style */
.hamburger {
  background: none;
  border: none;
  display: none; /* hidden by default, shown in media query below */
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Show the hamburger menu */
  }

  #cart-link-container {
    display: none; /* Hide the link container by default */
  }

  #cart-link-container.active {
    display: block; /* Show the container when active */
  }

  /* Adjust nav layout for mobile */
  #navigation {
    flex-direction: column;
    display: flex;
    justify-content: flex-end
  }

  #link-to-product, #cart-link-container {
    text-align: center; /* Center links */
  }
}


h1 {
  font-size: clamp(3.5rem, 3vw, 7rem);
  text-align: center;
  margin: 10rem auto 14rem auto;
  color: #000000;
  font-family: 'Alkalami', cursive;
  margin-bottom: 3rem;
}

.jumbotron img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
  object-position: 0 30%;
}


footer {
  height: 15rem;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #f1f9fd);
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 2.3rem;
  font-style: italic;
}


.card-container {
  width: 100%;
  height: auto;
  min-height: 110vh;
  /* 'min-h-screen' in Tailwind is typically equivalent to 100vh */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* 'mx-auto' in Tailwind centers the div */
  align-items: center;
  background-color: #ffffff;
  /* 'dark:bg-slate-900' in Tailwind */
  padding-top: 8rem;
  /* 'pt-8' in Tailwind, where 1rem is typically 4 in Tailwind's scale */
}

.camera-card {
  min-width: 40rem;
  width: 50rem;
  max-width: 80rem;
  height: 44rem;
  /* width: 30%; */
  border-radius: 0.5rem;
  /* 'rounded-lg' in Tailwind */
  margin: 4rem auto 6rem;
  /* min-width: 50rem; */
  overflow: hidden;
  /* 'overflow-hidden' in Tailwind */
  background-color: #1b1649;
  /* 'bg-white' in Tailwind */
  background-color: #ffffff;
  /* 'dark:bg-slate-800' for dark mode */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* 'shadow-md' in Tailwind */
  transition: transform 300ms ease-in-out;
  /* 'duration-300' in Tailwind */
}

.camera-card:last-child {
  visibility: hidden;
}

.camera-card:hover {
  transform: scale(1.05);
  /* 'hover:scale-105' in Tailwind */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  /* 'hover:shadow-lg' in Tailwind */
}

.camera-card img {
  width: 100%;
  /* height: 80%; */
  height: 34rem;
  min-height: 3rem;
  margin: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  /* 'rounded-lg' in Tailwind applies this border-radius */
}

.container-description {
  padding: 0 4rem;
  display: flex;
  height: 12rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  margin-top: -0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  /* 'rounded-lg' border-radius for bottom */
}

.container-description p {
  text-align: center;
  height: 3rem;
  margin: 1rem 0 0;
  letter-spacing: 1.5px;
  text-underline-offset: 20px;
}


.contenair-description-name {
    color: #2B012B;
    font-size: 2rem !important;
    font-weight: 700;
    font-style: italic;
    text-underline-offset: 20px;

  }

  .container-description-price {
    font-size: 1.6rem;
  }


.detail-link {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-style: italic;
  text-decoration: underline;
}

/* Additional styles based on the Tailwind example */
.camera-card button {
  display: block;
  margin: auto;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  background-color: #6366F1;
  /* 'bg-indigo-500' in Tailwind */
  border: none;
  /* 'focus:outline-none' and 'outline-none' in Tailwind */
  border-radius: 0.25rem;
  /* 'rounded' in Tailwind */
  transition: background-color 500ms ease-in-out;
  /* 'transition-all duration-500' in Tailwind */
}

.camera-card button:hover {
  background-color: #4F46E5;
  /* 'hover:bg-indigo-700' in Tailwind */
}

.camera-card button:focus {
  box-shadow: 0 0 0 2px #C7D2FE, 0 0 0 4px rgba(129, 140, 248, 0.5);
  /* 'focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2' in Tailwind */
}

footer {
  height: 10rem;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #eaeaea);
  border-top: 1px solid black;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 2.3rem;
  font-style: italic;
}


@media (max-width: 1000px) {

  .knit-card {
    display: none;
  }
}

@media (max-width: 550px) {
  .camera-card {
    width: 90%;
    min-width: 20rem;
    height: 45rem;
  }

  .camera-card img {
    min-height: 30rem;

  }

}


@media (min-width: 550px) {

.cart-link-container {
  margin: auto 0;
}



}

/* @media (min-width: 700px) {
/* 
  #cart-link-container {
    margin-top: 2.3rem;
    left: 6%;
  }

  .camera-card {
    height: 40rem;
    width: 30%;
    border-radius: 5% 5% 0 0;
    margin: 0 auto 3rem auto;
    min-width: 30rem; 
  }

    } */